NODE_ENV=local

PLATFORM_NAME="User service"
PLATFORM_WEBSITE="inflectionzone.com"
PLATFORM_SUPPORT_EMAIL="contact@inflectionzone.com"
PLATFORM_SUPPORT_PHONE="+91 1234567890"
##########################################################
API_VERSION=0.1.000
##########################################################

PORT=7373
BASE_URL=http://localhost:7373

USER_ACCESS_TOKEN_SECRET=<Your-user-access-token-secret>
USER_REFRESH_TOKEN_SECRET=<Your-user-refresh-token-secret>
PASSWORD_RESET_TOKEN_SECRET=<Your-password-reset-token-secret>
CIPHER_SALT=<cipher-salt-for-encoding-and-decoding> #for example $2a$08$xJyi78a2avMPLolLzl5Sau
##########################################################

#Database connection details

DB_DIALECT=<database-dialect> #e.g. postgres or mysql
DB_USER_NAME=<your-database-user-name>
DB_USER_PASSWORD=<your-database-user-password>
DB_NAME=users_db
DB_HOST=<your-database-host-name>
DB_PORT=<your-database-port> #e.g.3306 for mysql, 5432 for postgres, etc.

##########################################################

# File storage Storage related details (e.g. aws s3 bucket)

STORAGE_BUCKET=<your-bucket> or <your-local-storage-location, e.g. ../storage/>
STORAGE_BUCKET_ACCESS_KEY_ID=<your-storage-access-key>
STORAGE_BUCKET_ACCESS_KEY_SECRET=<your-storage-access-secret>

##########################################################
#Other Internal Services

ANALYTICS_API_BASE_URL=localhost:2345/api/v1
ANALYTICS_API_KEY=<your-analytics-api-key>

##########################################################

SYSTEM_US_PHONE_NUMBER=<your-us-phone-number>
SYSTEM_INTERNATIONAL_PHONE_NUMBER=<your-international-phone-number>
TWILIO_ACCOUNT_SID=<your-twilio-account-sid>
TWILIO_AUTH_TOKEN=<your-twilio-auth-token>

##########################################################

#Emails

EMAIL_FROM=<your-email-address>
SMTP_HOST=<your-email-host>
SMTP_PORT=<your-email-port>
SMTP_USER=<your-email-user>
SMTP_PASSWORD=<your-email-password>

##########################################################
