NODE_ENV=local

##########################################################

API_VERSION=0.1.000

##########################################################

PORT=7373
BASE_URL=http://localhost:7373
USER_ACCESS_TOKEN_SECRET=<USER_ACCESS_TOKEN_SECRET>
USER_REFRESH_TOKEN_SECRET=<USER_REFRESH_TOKEN_SECRET>
CIPHER_SALT=<CIPHER_SALT>

##########################################################

#Database connection details
DB_USER_NAME=<DB_USER_NAME>
DB_USER_PASSWORD=<DB_USER_PASSWORD>
DB_NAME=<DB_NAME>
DB_HOST=<DB_HOST>
DB_PORT=<DB_PORT>
DB_DIALECT=<DB_DIALECT>
DB_NAME_EHR_INSIGHTS=ehr_insights
DB_NAME_AWARDS_FACTS=awards_facts

##########################################################

STORAGE_BUCKET=../storage/

##########################################################

# Logger Configuration
LOGGER_PROVIDER=Winston

##########################################################

# Github OAuth Configuration
GITHUB_CLIENT_ID=<GITHUB_CLIENT_ID>
GITHUB_CLIENT_SECRET=<GITHUB_CLIENT_SECRET>

##########################################################

# Google OAuth Configuration
GOOGLE_CLIENT_ID=<GOOGLE_CLIENT_ID>
GOOGLE_CLIENT_SECRET=<GOOGLE_CLIENT_SECRET>

##########################################################

# Facebook OAuth Configuration
FACEBOOK_CLIENT_ID=<FACEBOOK_CLIENT_ID>
FACEBOOK_CLIENT_SECRET=<FACEBOOK_CLIENT_SECRET>

##########################################################

# Twitter OAuth Configuration
TWITTER_CLIENT_ID=<TWITTER_CLIENT_ID>
TWITTER_CLIENT_SECRET=<TWITTER_CLIENT_SECRET>

##########################################################