/seed.data/default.tenant.seed.json
/seed.data/default.clientapps.seed.json
/seed.data/system.admin.seed.json
/seed.data/internal.clients.seed.json
/seed.data/system.roles.seed.json
/seed.data/system.permissions.seed.json
/seed.data/system.role.permissions.seed.json
/seed.data/platform.info.json
